<? xml version="1.0" encooding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.module2-a2.pinecitymall"
    versionCode= "10"
    version   = "1.0.0">

<name>Pine City Zoo</name>

<description>
    Have fun at our Mall.
</description>

<author>Keitumetse Molefe</author>

</widget>